<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#
var reps = new string[] { "SignedInt8", "SignedInt16", "SignedInt32", "SignedInt64", "SignedInt128", "UnsignedInt8", "UnsignedInt16", "UnsignedInt32", "UnsignedInt64", "UnsignedInt128" };
var orgs = new string[] { "sbyte", "short", "int", "long", "Int128", "byte", "ushort", "uint", "ulong", "UInt128" };
var uorgs = new string[] { "byte", "ushort", "uint", "ulong", "UInt128", "byte", "ushort", "uint", "ulong", "UInt128" };

var methods = new (string name, string type, string param, string invoke)[]
{
	("IsPow2", "bool", "TSelf value", "value"),
	("Log2", "TSelf", "TSelf value", "value"),
	("DivRem", "(TSelf Quotient, TSelf Remainder)", "TSelf left, TSelf right", "left, right"),
	("RotateLeft", "TSelf", "TSelf value, int rotateAmount", "value, rotateAmount"),
	("RotateRight", "TSelf", "TSelf value, int rotateAmount", "value, rotateAmount"),
	("PopCount", "TSelf", "TSelf value", "value"),
	("LeadingZeroCount", "TSelf", "TSelf value", "value"),
	("TrailingZeroCount", "TSelf", "TSelf value", "value"),
	("IsOddInteger", "bool", "TSelf value", "value"),
	("Max", "TSelf", "TSelf x, TSelf y", "x, y"),
	("Min", "TSelf", "TSelf x, TSelf y", "x, y"),
	("Parse", "TSelf", "string s, IFormatProvider? provider", "s, provider"),
	("Parse", "TSelf", "ReadOnlySpan<char> s, IFormatProvider? provider", "s, provider"),
	("Parse", "TSelf", "string s, NumberStyles style, IFormatProvider? provider", "s, style, provider"),
	("Parse", "TSelf", "ReadOnlySpan<char> s, NumberStyles style, IFormatProvider? provider", "s, style, provider"),
};
var operators = new (string op, string type, string param, string invoke)[]
{
	("<", "bool", "TSelf left, TSelf right", "left, right"),
	("<=", "bool", "TSelf left, TSelf right", "left, right"),
	(">", "bool", "TSelf left, TSelf right", "left, right"),
	(">=", "bool", "TSelf left, TSelf right", "left, right"),
	("==", "bool", "TSelf left, TSelf right", "left, right"),
	("!=", "bool", "TSelf left, TSelf right", "left, right"),
	("+", "TSelf", "TSelf left, TSelf right", "left, right"),
	("-", "TSelf", "TSelf left, TSelf right", "left, right"),
	("*", "TSelf", "TSelf left, TSelf right", "left, right"),
	("/", "TSelf", "TSelf left, TSelf right", "left, right"),
	("-", "TSelf", "TSelf value", "value"),
	("+", "TSelf", "TSelf value", "value"),

	("&", "TSelf", "TSelf left, TSelf right", "left, right"),
	("|", "TSelf", "TSelf left, TSelf right", "left, right"),
	("^", "TSelf", "TSelf left, TSelf right", "left, right"),
	("~", "TSelf", "TSelf value", "value"),
	("%", "TSelf", "TSelf left, TSelf right", "left, right"),
	("<<", "TSelf", "TSelf value, int shiftAmount", "value, shiftAmount"),
	(">>", "TSelf", "TSelf value, int shiftAmount", "value, shiftAmount"),
	(">>>", "TSelf", "TSelf value, int shiftAmount", "value, shiftAmount"),
};
var checkedOperators = new (string name, string op, string type, string param, string invoke)[]
{
	/*
	("IAdditionOperators<TSelf, TSelf, TSelf>.op_CheckedAddition", "+", "TSelf", "TSelf left, TSelf right", "left, right"),
	("ISubtractionOperators<TSelf, TSelf, TSelf>.op_CheckedSubtraction", "-", "TSelf", "TSelf left, TSelf right", "left, right"),
	("IMultiplyOperators<TSelf, TSelf, TSelf>.op_CheckedMultiply", "*", "TSelf", "TSelf left, TSelf right", "left, right"),
	("IDivisionOperators<TSelf, TSelf, TSelf>.op_CheckedDivision", "/", "TSelf", "TSelf left, TSelf right", "left, right"),
	("IUnaryNegationOperators<TSelf, TSelf>.op_CheckedUnaryNegation", "-", "TSelf", "TSelf value", "value"),
	*/
};
#>
// NOTICE:
// This file is generated by corresponding ".tt" file template, do NOT modify this file.

using System.Globalization;
using System.Runtime.CompilerServices;
using System.Numerics;


namespace Althea.Numerics;
<# for (int i = 0; i < reps.Length; i++) { #>


/// <summary>
/// The custom replacement of <see cref="<#=orgs[i]#>"/> that implements <see cref="IBinaryInt{TSelf}"/>.
/// </summary>
public readonly partial struct <#=reps[i]#> : IBinaryInt<<#=reps[i]#>>
{
	private readonly <#=orgs[i]#> _value;

	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	private <#=reps[i]#>(<#=orgs[i]#> v) => this._value = v;

	/// <inheritdoc/>
<# if ((reps[i].StartsWith("U") || orgs[i] == "sbyte") && orgs[i] != "byte") { #>
	[CLSCompliant(false)]
<# } #>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static implicit operator <#=reps[i]#>(<#=orgs[i]#> v) => new(v);

	/// <inheritdoc/>
<# if ((reps[i].StartsWith("U") || orgs[i] == "sbyte") && orgs[i] != "byte") { #>
	[CLSCompliant(false)]
<# } #>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static implicit operator <#=orgs[i]#>(<#=reps[i]#> v) => v._value;

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public bool Equals(<#=reps[i]#> other) => this == other;

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public override bool Equals(object? obj) => this._value.Equals(obj);

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public override int GetHashCode() => this._value.GetHashCode();

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public int CompareTo(object? obj) => this._value.CompareTo(obj);

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public int CompareTo(<#=reps[i]#> other) => this._value.CompareTo(other);

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public bool TryFormat(Span<char> destination, out int charsWritten, ReadOnlySpan<char> format, IFormatProvider? provider) => this._value.TryFormat(destination, out charsWritten, format, provider);

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public override string ToString() => this._value.ToString();

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public string ToString(string? format, IFormatProvider? formatProvider) => this._value.ToString(format, formatProvider);

	/// <inheritdoc/>
	public static DataType Type => DataType.Real<#=reps[i].Replace("Unsigned", "U").Replace("Signed", "")#>;

	/// <inheritdoc/>
	public static <#=reps[i]#> MachinePrecision => (<#=orgs[i]#>)1;

	/// <inheritdoc/>
	public static unsafe int Size => sizeof(<#=orgs[i]#>);

	/// <inheritdoc/>
	public static bool IsComplexType => false;

	/// <inheritdoc/>
	public static <#=reps[i]#> One => (<#=orgs[i]#>)1;

	/// <inheritdoc/>
	public static <#=reps[i]#> Zero => (<#=orgs[i]#>)0;
	
	/// <inheritdoc/>
	public static <#=reps[i]#> AdditiveIdentity => (<#=orgs[i]#>)0;

	/// <inheritdoc/>
	public static <#=reps[i]#> MultiplicativeIdentity => (<#=orgs[i]#>)1;

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static bool IsReal(<#=reps[i]#> value) => true;

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static bool IsComplex(<#=reps[i]#> value) => false;

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static bool IsImaginaryNumber(<#=reps[i]#> value) => false;
	
	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static bool IsFinite(<#=reps[i]#> value) => true;

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static bool IsNaN(<#=reps[i]#> value) => false;

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static bool IsInteger(<#=reps[i]#> value) => true;

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static bool IsZero(<#=reps[i]#> value) => value._value == (<#=orgs[i]#>)0;

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> Conjugate(<#=reps[i]#> value) => value;

<# if (!reps[i].StartsWith("U")) { #>
	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> MinMagnitudeNumber(<#=reps[i]#> x, <#=reps[i]#> y) => <#=orgs[i]#>.MaxMagnitude(x, y) == <#=orgs[i]#>.Abs(x) ? x : y;

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> MaxMagnitudeNumber(<#=reps[i]#> x, <#=reps[i]#> y) => <#=orgs[i]#>.MinMagnitude(x, y) == <#=orgs[i]#>.Abs(x) ? x : y;

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static bool IsNegative(<#=reps[i]#> value) => <#=orgs[i]#>.IsNegative(value);

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static bool IsPositive(<#=reps[i]#> value) => <#=orgs[i]#>.IsPositive(value);

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> Abs(<#=reps[i]#> value) => <#=orgs[i]#>.Abs(value);

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> MaxMagnitude(<#=reps[i]#> x, <#=reps[i]#> y) => <#=orgs[i]#>.MaxMagnitude(x, y);

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> MinMagnitude(<#=reps[i]#> x, <#=reps[i]#> y) => <#=orgs[i]#>.MinMagnitude(x, y);

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> CopySign(<#=reps[i]#> value, <#=reps[i]#> sign) => <#=orgs[i]#>.CopySign(value, sign);
<# } else { #>
	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> MinMagnitudeNumber(<#=reps[i]#> x, <#=reps[i]#> y) => <#=orgs[i]#>.Max(x, y);

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> MaxMagnitudeNumber(<#=reps[i]#> x, <#=reps[i]#> y) => <#=orgs[i]#>.Min(x, y);

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static bool IsNegative(<#=reps[i]#> value) => false;

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static bool IsPositive(<#=reps[i]#> value) => value._value != 0;

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> Abs(<#=reps[i]#> value) => value;

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> MaxMagnitude(<#=reps[i]#> x, <#=reps[i]#> y) => <#=orgs[i]#>.Max(x, y);

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> MinMagnitude(<#=reps[i]#> x, <#=reps[i]#> y) => <#=orgs[i]#>.Min(x, y);

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> CopySign(<#=reps[i]#> value, <#=reps[i]#> sign) => value;
<# } #>

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> Sign(<#=reps[i]#> value) => (<#=orgs[i]#>)<#=orgs[i]#>.Sign(value);

	/// <inheritdoc/>
	public static bool TryParse(string? s, IFormatProvider? provider, out <#=reps[i]#> result)
	{
		bool success = <#=orgs[i]#>.TryParse(s, provider, out var res);
		result = res;
		return success;
	}

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static bool TryParse(ReadOnlySpan<char> s, IFormatProvider? provider, out <#=reps[i]#> result)
	{
		bool success = <#=orgs[i]#>.TryParse(s, provider, out var res);
		result = res;
		return success;
	}

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static bool TryParse(string? s, NumberStyles style, IFormatProvider? provider, out <#=reps[i]#> result)
	{
		bool success = <#=orgs[i]#>.TryParse(s, style, provider, out var res);
		result = res;
		return success;
	}

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static bool TryParse(ReadOnlySpan<char> s, NumberStyles style, IFormatProvider? provider, out <#=reps[i]#> result)
	{
		bool success = <#=orgs[i]#>.TryParse(s, style, provider, out var res);
		result = res;
		return success;
	}

<# foreach (var (name, type, param, invoke) in methods) { #>
	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=type.Replace("TSelf", reps[i])#> <#=name#><#=param.Contains("TOther") ? "<TOther>" : ""#>(<#=param.Replace("TSelf", reps[i])#>)<#=param.Contains("TOther") ? " where TOther : INumber<TOther>" : ""#> => <#=orgs[i]#>.<#=name#>(<#=invoke#>);

<# } #>
<# foreach (var (name, type, param, invoke) in operators)
{
	if (orgs[i] == "ulong" && name == "-" && !invoke.Contains(", "))
	{
#>
	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> operator -(<#=reps[i]#> left) => (ulong)(-(long)left._value);
<# } else { #>
	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=type.Replace("TSelf", reps[i])#> operator <#=name#>(<#=param.Replace("TSelf", reps[i])#>) => <#=type == "TSelf" ? $"({orgs[i]})" : ""#>(<#=invoke.Contains(", ") ? invoke.Replace(", ", $"._value {name} ") + (invoke.Contains("shiftAmount") ? "" : "._value") : name + invoke + "._value"#>);

<#	}
} #>

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> operator ++(<#=reps[i]#> value)
	{
		var v = value._value;
		++v;
		return v;
	}

	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=reps[i]#> operator --(<#=reps[i]#> value)
	{
		var v = value._value;
		--v;
		return v;
	}

<# foreach (var (name, op, type, param, invoke) in checkedOperators)
{
	if (orgs[i] == "ulong" && name.Contains("CheckedUnaryNegation"))
	{
#>
	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	static <#=reps[i]#> <#=name.Replace("TSelf", reps[i])#>(<#=reps[i]#> left) => checked((ulong)(-(long)left._value));
<# } else { #>
	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	static <#=type.Replace("TSelf", reps[i])#> <#=name.Replace("TSelf", reps[i])#>(<#=param.Replace("TSelf", reps[i])#>) => checked(<#=type == "TSelf" ? $"({orgs[i]})" : ""#>(<#=invoke.Contains(", ") ? invoke.Replace(", ", $"._value {op} ") + (invoke.Contains("shiftAmount") ? "" : "._value") : op + invoke + "._value"#>));

<#	}
} #>
}
<# } #>