<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#
var reps = new string[] { "BrainHalf" };
var orgs = new string[] { "float" };

var methods = new (string name, string type, string param, string invoke)[]
{
	("Ceiling", "TSelf", "TSelf x", "x"),
	("Floor", "TSelf", "TSelf x", "x"),
	("Round", "TSelf", "TSelf x", "x"),
	("Round", "TSelf", "TSelf x, int digits", "x, digits"),
	("Round", "TSelf", "TSelf x, MidpointRounding mode", "x, mode"),
	("Round", "TSelf", "TSelf x, int digits, MidpointRounding mode", "x, digits, mode"),
	("Truncate", "TSelf", "TSelf x", "x"),
	("FusedMultiplyAdd", "TSelf", "TSelf left, TSelf right, TSelf addend", "left, right, addend"),
	("ReciprocalEstimate", "TSelf", "TSelf x", "x"),
	("ReciprocalSqrtEstimate", "TSelf", "TSelf x", "x"),
	("MaxMagnitude", "TSelf", "TSelf x, TSelf y", "x, y"),
	("MaxMagnitudeNumber", "TSelf", "TSelf x, TSelf y", "x, y"),
	("MinMagnitude", "TSelf", "TSelf x, TSelf y", "x, y"),
	("MinMagnitudeNumber", "TSelf", "TSelf x, TSelf y", "x, y"),
	("Max", "TSelf", "TSelf x, TSelf y", "x, y"),
	("Min", "TSelf", "TSelf x, TSelf y", "x, y"),
	("Parse", "TSelf", "string s, IFormatProvider? provider", "s, provider"),
	("Parse", "TSelf", "string s, NumberStyles style, IFormatProvider? provider", "s, style, provider"),
	("Parse", "TSelf", "ReadOnlySpan<char> s, IFormatProvider? provider", "s, provider"),
	("Parse", "TSelf", "ReadOnlySpan<char> s, NumberStyles style, IFormatProvider? provider", "s, style, provider"),
	("Acosh", "TSelf", "TSelf x", "x"),
	("Asinh", "TSelf", "TSelf x", "x"),
	("Atanh", "TSelf", "TSelf x", "x"),
	("Cosh", "TSelf", "TSelf x", "x"),
	("Sinh", "TSelf", "TSelf x", "x"),
	("Tanh", "TSelf", "TSelf x", "x"),
	("Log", "TSelf", "TSelf x", "x"),
	("Log", "TSelf", "TSelf x, TSelf newBase", "x, newBase"),
	("LogP1", "TSelf", "TSelf x", "x"),
	("Log2", "TSelf", "TSelf x", "x"),
	("Log2P1", "TSelf", "TSelf x", "x"),
	("Log10", "TSelf", "TSelf x", "x"),
	("Log10P1", "TSelf", "TSelf x", "x"),
	("Pow", "TSelf", "TSelf x, TSelf y", "x, y"),
	("Cbrt", "TSelf", "TSelf x", "x"),
	("Sqrt", "TSelf", "TSelf x", "x"),
	("Hypot", "TSelf", "TSelf x, TSelf y", "x, y"),
	("Root", "TSelf", "TSelf x, int n", "x, n"),
	("Acos", "TSelf", "TSelf x", "x"),
	("Asin", "TSelf", "TSelf x", "x"),
	("Atan", "TSelf", "TSelf x", "x"),
	("Atan2", "TSelf", "TSelf y, TSelf x", "y, x"),
	("Cos", "TSelf", "TSelf x", "x"),
	("Sin", "TSelf", "TSelf x", "x"),
	("SinCos", "(TSelf Sin, TSelf Cos)", "TSelf x", "x"),
	("Tan", "TSelf", "TSelf x", "x"),
	("Exp", "TSelf", "TSelf x", "x"),
	("ExpM1", "TSelf", "TSelf x", "x"),
	("Exp2", "TSelf", "TSelf x", "x"),
	("Exp2M1", "TSelf", "TSelf x", "x"),
	("Exp10", "TSelf", "TSelf x", "x"),
	("Exp10M1", "TSelf", "TSelf x", "x"),
};
var operators = new (string op, string type, string param, string invoke)[]
{
	("+", "TSelf", "TSelf left, TSelf right", "left + right"),
	("-", "TSelf", "TSelf left, TSelf right", "left - right"),
	("*", "TSelf", "TSelf left, TSelf right", "left * right"),
	("/", "TSelf", "TSelf left, TSelf right", "left / right"),
};
#>
// NOTICE:
// This file is generated by corresponding ".tt" file template, do NOT modify this file.

using System.Globalization;
using System.Runtime.CompilerServices;


namespace Althea.Backend.Cuda;
<# for (int i = 0; i < reps.Length; i++) { #>


public readonly partial struct <#=reps[i]#>
{
<# foreach (var (name, type, param, invoke) in methods) { #>
	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=type.Replace("TSelf", reps[i])#> <#=name#><#=param.Contains("TOther") ? "<TOther>" : ""#>(<#=param.Replace("TSelf", reps[i])#>)<#=param.Contains("TOther") ? " where TOther : INumber<TOther>" : ""#> => (<#=type.Contains("(") ? $"({reps[i]}, {reps[i]})" : reps[i]#>)<#=orgs[i]#>.<#=name#>(<#=invoke#>);

<# } #>
<# foreach (var (name, type, param, invoke) in operators) { #>
	/// <inheritdoc/>
	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static <#=type.Replace("TSelf", reps[i])#> operator <#=name#>(<#=param.Replace("TSelf", reps[i])#>) => (<#=reps[i]#>)((<#=orgs[i]#>)<#=invoke#>);
<# } #>
}
<# } #>